/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url('../../iconsets/oxygen/markitup/h1.png'); 
}
.markItUp .markItUpButton2 a {
	background-image:url('../../iconsets/oxygen/markitup/h2.png'); 
}
.markItUp .markItUpButton3 a {
	background-image:url('../../iconsets/oxygen/markitup/h3.png'); 
}
.markItUp .markItUpButton4 a {
	background-image:url('../../iconsets/oxygen/markitup/h4.png'); 
}
.markItUp .markItUpButton5 a {
	background-image:url('../../iconsets/oxygen/markitup/h5.png'); 
}

.markItUp .markItUpButton6 a {
	background-image:url('../../iconsets/oxygen/markitup/bold.png');
}
.markItUp .markItUpButton7 a {
	background-image:url('../../iconsets/oxygen/markitup/italic.png');
}
.markItUp .markItUpButton8 a {
	background-image:url('../../iconsets/oxygen/markitup/stroke.png');
}

.markItUp .markItUpButton9 a {
	background-image:url('../../iconsets/oxygen/markitup/list-bullet.png');
}
.markItUp .markItUpButton10 a {
	background-image:url('../../iconsets/oxygen/markitup/list-numeric.png');
}

.markItUp .markItUpButton11 a {
	background-image:url('../../iconsets/oxygen/markitup/picture.png'); 
}
.markItUp .markItUpButton12 a {
	background-image:url('../../iconsets/oxygen/markitup/link.png');
}
.markItUp .markItUpButton13 a {
	background-image:url('../../iconsets/oxygen/markitup/url.png');
}

.markItUp .markItUpButton14 a	{
	background-image:url('../../iconsets/oxygen/markitup/quotes.png');
}
.markItUp .markItUpButton15 a	{
	background-image:url('../../iconsets/oxygen/markitup/code.png');
}

.markItUp .preview a {
	background-image:url('../../iconsets/oxygen/markitup/preview.png');
}
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
/*				width:700px;*/
	margin:5px 0 5px 0;
}
.markItUpContainer  {
	font:11px 'Droid Sans', sans-serif;
}
.markItUpEditor {
	font:12px 'Droid Sans Mono', monospace;
	padding:0;
	width:690px;
	height:320px;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFF;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('../iconsets/oxygen/markitup/handle.png');
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url('../iconsets/oxygen/markitup/menu.png') no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#FFF;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url('../iconsets/oxygen/markitup/submenu.png') no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#000;
}
.markItUpHeader a:hover  {
	border-bottom: none;
}