
.b2_calendar_miniframe_header
{
	background-color: #E5E5E5;
	border: 1px;
	width: auto;
	padding: 3px;
	padding-left: 7px;
	font-weight: bold;
	text-align: center;
}

.td1 .dayheader
{
	width: 22px;
	height: 12px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: center;
}

.td1 .day
{
	width: 22px;
	height: 22px;
	padding-top: 3px;
	padding-bottom: 2px;
	border: 1px solid #E5E5E5;
	text-align: center;
}

.td1 .weekheader
{
	width: 22px;
	height: 12px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-weight: bold;
	text-align: center;
	background-color: #E5E5E5;
}

.td1 .week
{
	width: 22px;
	height: 22px;
	padding-top: 3px;
	padding-bottom: 2px;
	border: 1px solid #E5E5E5;
	text-align: center;
	background-color: #E5E5E5;
}

.td1 .calendarform
{
	width: auto;
	height: 22px;
	padding-top: 3px;
	padding-bottom: 2px;
	border: 1px solid #E5E5E5;
	text-align: center;
}

.eventimgtd
{
	width: 25px;
}

.eventtimetd
{
	width: 60px;
	font-weight: bold;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.eventtexttd
{
	width: auto;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.b2_event_table
{
	table-layout: auto;
	width: auto;
}

.searchtitleheader
{
	width: auto;
	background-color: #E1E1E1;
	border-bottom: 1px solid #D5D5D5;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 4px;
	margin-top: 10px;
}

.searchgroupheader
{
	width: auto;
	background-color: #E9E9E9;
	border-bottom: 1px solid #D5D5D5;
	padding: 4px;
}

.searchtitlecolumns
{
	width: auto;
	background-color: #EEE;
	border: 1px solid #DDD;
	padding: 4px;
}

.searchtitlecolumns A
{
	color: #555;
}

.searchtitleheader SPAN
{
	color: #999;
}

.searchtitlecolumns A:hover
{
	color: #888;
	text-decoration: none;
	border-bottom: 0px;
}

TD.small, TD.small TABLE TR TD, TD.small TABLE TR TD DIV  
{
	font-size: 10px;
}

.issue_closed TD, .search_results_issue_closed TD TABLE TR TD, .search_results_issue_closed TD TABLE TR TD DIV  
{
	text-decoration: line-through;
}

tr.search_results
{
	background-color: #F9F9F9; 
}

.search_results div.issue_not_assigned
{
	color: #AAA;
}

.status_box
{
	border: 1px solid #AAA;
}

tr.search_results:hover
{
	background-color: #EFEFEF; 
}

tr.issue_blocker
{
	background-color: #F37575;
}

tr.issue_blocker div.status_box
{
	border: 1px solid #FCC;
}

.issue_blocker div.issue_not_assigned
{
	color: #FFF;
}

.issue_blocker td
{
	color: #FFF;
}

.issue_blocker td.small div
{
	color: #FFF;
}

.issue_blocker a
{
	color: #BBFABB;
}

tr.issue_blocker:hover
{
	background-color: #F38888;
}

