vcs_commitspage:
  route: /:project_key/commits
  action: projectCommits

vcs_commitspage_more:
  route: /:project_key/commits/more
  action: projectCommitsMore

vcs_viewissue_more:
  route: /:project_key/issue/:issue_no/commits/more
  action: projectIssueCommitsMore
    
normalcheckin:
  route: /vcs_integration/report/:project_id
  action: addCommit
  anonymous_route: true

githubcheckin:
  route: /vcs_integration/report/:project_id/github
  action: addCommitGithub
  anonymous_route: true

gitlabcheckin:
  route: /vcs_integration/report/:project_id/gitlab
  action: addCommitGitlab
  anonymous_route: true

bitbucketcheckin:
  route: /vcs_integration/report/:project_id/bitbucket
  action: addCommitBitbucket
  anonymous_route: true

gitoriouscheckin:
  route: /vcs_integration/report/:project_id/gitorious
  action: addCommitGitorious
  anonymous_route: true

configure_vcs_settings:
  route: /configure/project/:project_id/vcs
  action: configureProjectSettings
  parameters:
    config_module: core
    section: 15
