core/config/b2db.yml
cache
./files/
.settings/
thebuggenie/.htaccess
installed
nbproject
thebuggenie.log
web.config
.buildpath
.DS_Store
.gitignore
.idea
*.kdev4
.project
.remote_password_hash
.remote_server
.remote_username
.remote_token
tmp
thebuggenie/test.php
*~
modules/*/vendor
vendor/
/composer.phar
.directory

# Ignore local PHP configuration overrides.
public/.user.ini

# Ignore local log file.
thebuggenie.log

# Ignore user-specific Vagrant files.
.vagrant

# Ignore Ansible retry files.
ansible/*.retry

# Ignore files which constitute local-only artefacts.
artefacts/

# Ignore Apache logs (from Vagrant development machine)
apache-access.log
apache-error.log

# Ignore coverage report
coverage-report