core/b2db_bootstrap.inc.php
core/cache
files/
.settings/
thebuggenie/.htaccess
installed
nbproject
thebuggenie.log
web.config
.buildpath
.DS_Store
.gitignore
.idea
*.kdev4
.project
.remote_password_hash
.remote_server
.remote_username
