.picker-cube-pixel {
	float: left;
	font-size: 1px;
	overflow: hidden;
	margin: 1px 1px 0 0;
	display: block;
	cursor: default;
}

.picker-cube { 
	float: left; 
	overflow: hidden;
}

.picker-landing {
	background-color: #000;
	border-bottom: 1px solid #000;
	position: absolute;
	overflow: hidden;
}

.picker-fixed-colors {
	float: left;
	overflow: hidden;
}

.picker-cube-landing {
	float: left;
	overflow: hidden;
	border-left: 1px solid #000;
}

.picker-clear {
	float: none;
	clear: both;
	font-size: 1px;
	line-height: 0%;
	height: 0%;
	width: 1px;
	overflow: hidden;
}

.picker-header {
	background-color: #ece9d8;
	height: 26px;
	font-size: 11px;
	overflow: hidden;
	position: relative;
	border: 1px solid #000;
	border-bottom: none;
}

.picker-sample {
	position: absolute;
	margin: 3px 4px;
	border: 1px solid #666;
	width: 40px;
	height: 17px;
	font-size: 1px;
	overflow: hidden;
	cursor: move;
}

.picker-text-value {
	display: block;
	position: absolute;
	margin: 3px 0 3px 48px;
	padding: 0 2px;
	width: 65px;
	height: 17px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #79b;
	font: normal 11px/1.5em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: text;
}

.picker-icon {
	position: absolute;
	display: block;
	padding: 0 6px 2px;
	height: 12px;
	cursor: pointer;
	top: 5px;
}

.picker-icon-cube {
	left: 130px;
	background: url(/images/icon-cube.gif) no-repeat center;
}

.picker-icon-continious {
	left: 150px;
	background: url(/images/icon-continious.gif) no-repeat center;
}

.picker-icon-rainbow {
	left: 170px;
	background: url(/images/icon-rainbow.gif) no-repeat center;
}

.picker-icon-grayscale {
	left: 190px;
	background: url(/images/icon-grayscale.gif) no-repeat center;
}

.picker-grayscale-landing {
	border-left: 1px solid #000;
}

.picker-rainbow-landing {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	background-color: #fff;
	overflow: hidden;
	font-size: 1px;
	line-height: 0%;
	height: 100px;
}

.picker-rainbow-pixel {
	font-size: 1px;
	width: 2px;
	height: 100px;
	overflow: hidden;
	float: left;
}

.picker-close-icon {
	position: absolute; 
	right: 1px;
	top: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	font-size: 1px;
	background: url(/images/icon-close.gif) no-repeat;
	cursor: pointer;
}

.picker-load-cube {
	width: 230px;
	height: 131px;
	overflow: hidden;
	background: url(/images/load-cube.png) no-repeat right #000;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	cursor: default;
}

