
.billboarddiv
{
	padding: 3px;
	background-color: #F1F1F1;
	border: 1px solid #DDD;
}

.billboardinfo
{
	width: 100%;
	background-color: #FFF;
	font-size: 10px;
	height: 12px;
	padding-bottom: 3px;
	margin-bottom: 2px;
	border-bottom: 1px solid #DDD;
}

.billboardpostdiv
{
	margin-top: 0px;
	padding: 5px;
	background-color: #FFF;
}

.billboardpost
{
	text-align: right;
	width: 100%;
	float: right;
}

.billboardtable
{
	table-layout: auto;
	width: 100%;
	background-color: #FFF;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;
}

.bbfirsttd
{
	width: auto;
	padding: 0px;
}

.bbspacingtd
{
	width: 10px;
}

.bbteamtd
{
	width: 325px;
	padding: 0px;
}

#article_list, .billboard_list
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#article_list li
{
	cursor: move;
}

.news_list { list-style-type: none; margin: 5px 0 0 5px; padding: 0; font-size: 13px; }
.news_list img { float: left; margin-right: 5px; }
.news_list span { font-size: 10px; }
.news_list .more_news { margin: 10px 0 0 0; }

.toc .publish_toc_1 { margin: 15px 0 3px 0; font-size: 14px; font-weight: bold; }
.toc .publish_toc_2 { margin: 0 0 3px 4px; font-size: 13px; }
.toc .publish_toc_3 { margin: 0 0 3px 7px; font-size: 12.5px; }
.toc .publish_toc_4 { margin: 0 0 3px 10px; font-size: 12px; }
.toc .publish_toc_5 { margin: 0 0 3px 13px; font-size: 11.5px; }
.toc .publish_toc_6 { margin: 0 0 3px 16px; font-size: 11px; }

.article .header { margin: 0 0 5px 0; padding: 3px; font-weight: bold; font-size: 17px; border-bottom: 1px solid #CCC; }
.article .header a { font-size: 13px; }

.toc .header { margin: 0 0 5px 0; padding: 2px 3px 3px 0; font-weight: bold; font-size: 15px; border-bottom: 1px solid #99C; }
.toc .header a { color: #555; font-size: 16px; }

.article h1 { padding: 3px 3px 3px 0; }
.article h1:target { color: #77B; background-color: #F6F6F6; }
.article h2 { padding: 3px 3px 3px 0; }
.article h2:target { color: #77B; background-color: #F6F6F6; }
.article h3 { padding: 3px 3px 3px 0; }
.article h3:target { color: #77B; background-color: #F6F6F6; }
.article h4 { padding: 3px 3px 3px 0; }
.article h4:target { color: #77B; background-color: #F6F6F6; }
.article h5 { padding: 3px 3px 3px 0; }
.article h5:target { color: #77B; background-color: #F6F6F6; }
.article h6 { padding: 3px 3px 3px 0; }
.article h6:target { color: #77B; background-color: #F6F6F6; }

.article pre { border: 1px dotted #AAA; background-color: #F1F1F1; padding: 3px; margin: 5px 0 5px 0; font-family: "Droid Sans Mono", monospace; font-size: 12px; }