.calendar
{
	width: auto;
	border: 1px solid #DDD;
	border-top: 0px;
}

.calendar_main
{
	width: auto;
	border: 1px solid #DDD;
	border-top: 0px;
}

#calendar_mini_container
{	
	margin-top: 10px;
	margin-left: 10px;
}

#calendar_main_view
{	
	margin-top: 10px;
	margin-right: 10px;
	height: 100%;
	position: relative;
}

#calendar_main_icons
{
	width: 100%;
	padding: 0px;
	border: 1px solid #DDD;
	background-color: #F5F5F5;
	height: 33px;
}

#calendar_main_icons table
{
	margin: 5px;
	float: left;
	width: auto;
	table-layout: auto;
}

#calendar_main_icons table td.text
{
	padding-right: 10px;
	padding-left: 5px;
}

.calendar TH
{
	font-size: 9px;
	text-align: center;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDD;
	padding: 2px;
}

.calendar TD
{
	width: 25px;
	margin: 0px;
	padding: 2px;
	height: 24px;
	text-align: center;
	/*vertical-align: top;
	font-size: 8px;*/
}

.calendar TD.weeknumber, .calendar TH.weeknumber
{
	width: 12px;
	padding: 1px;
	font-size: 7px;
	font-weight: bold;
	border-right: 1px solid #DDD;
	background-color: #F5F5F5;
}

.calendar TD.day
{
	border: 1px solid #F5F5F5;
}
	
.calendar TD.day A, .calendar_main TD.day A,  .calendar_main TD.weeknumber A, .calendar TD.weeknumber A
{
	color: #555;
}

.calendar TD.current
{
	background-color: #DDF;
	border: 1px solid #BBB;
}

.calendar TD.prev_month
{
	color: #CCC;
	border-color: #FFF;
}

.calendar TD.day:hover
{
	border: 1px solid #DDD;
	background-color: #F5F5F5;
}

.calendar TD.current:hover
{
	background-color: #CCF;
	border: 1px solid #BBB;
}

#events_list
{
	margin: 10px;
}

#events_list div.heading
{
	border-bottom: 1px solid #DDD;
	padding: 3px;
	font-weight: bold;
	margin-bottom: 5px;
} 

#today_list A
{
	font-weight: bold;
}

.calendar-month-big, .calendar-week-big, .calendar-day-big 
{
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid #DDD;
}

.smaller_month_link a, .smaller_week_link a, .smaller_day_link a
{
	font-size: 15px;
	color: #999;
}

.smaller_month_link, .smaller_week_link, .smaller_day_link
{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.calendar .smallest_month_link, .calendar .smaller_month_link
{
	padding-left: 5px;
	padding-right: 5px;
}

.smallest_month_link a
{
	font-size: 13px;
	color: #CCC;
}

.smallest_month_link 
{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.calendar_main TD.weeknumber, .calendar_main TH.weeknumber
{
	width: 20px;
	padding: 1px;
	font-size: 10px;
	font-weight: bold;
	border-right: 1px solid #DDD;
	background-color: #F5F5F5;
	text-align: center;
	vertical-align: middle;
}

.calendar_main TD
{
	width: 14%;
	margin: 0px;
	padding: 2px;
	text-align: right;
	vertical-align: top;
	font-size: 11px;
}

.calendar_main TH
{
	font-size: 11px;
	text-align: center;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDD;
	padding: 2px;
	height: 20px;
}

.calendar_main TD.day
{
	border: 1px solid #F5F5F5;
	height: 100px;
	min-height: 100px;
}

.calendar_main TD.current
{
	background-color: #DDF;
	border: 1px solid #BBB;
}

.calendar_main TD.prev_month
{
	color: #CCC;
	border-color: #FFF;
}

.calendar_main TD.day:hover
{
	border: 1px solid #DDD;
	background-color: #F5F5F5;
}

.calendar_main TD.current:hover
{
	background-color: #CCF;
	border: 1px solid #BBB;
}

.calendar .minimonth_monthname
{
	padding-left: 20px;
	padding-right: 20px;
}

.calendar_event
{
	border: 1px solid #DDD;
	background-color: #FAFAD6;
	padding: 2px;
	margin: 0px;
	font-size: 10px;
	text-align: left;
	cursor: pointer;
	clear: both;
}	

#calendar_day_list .calendar_event
{
	margin-bottom: 5px;
	padding: 5px;
	font-size: 11px;
}

.calendar_event IMG
{
	margin-right: 5px;
	margin-bottom: 5px;
}

.today_list_entry
{
	padding-bottom: 10px;
}

.event_window
{
	background-color: #F1F1F1;
	padding: 5px;
	margin: 0px;
}

.calendar_week, .calendar_day
{
	table-layout: auto;
	width: 100%;
}

.calendar_week TH, .calendar_day TH
{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background-color: #F5F5F5;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 1px solid #DDD;
	border-top: 0px;
}

.calendar_week TD
{
	border: 1px solid #DDD;
	border-top: 0px;
	height: 400px;
	min-height: 400px;
	vertical-align: top;
	padding: 2px;
	width: 14.2%;
}